/* FONTS */

/* @import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap'); */
@font-face { font-family: Eina; src: url('Eina01-Bold.ttf'); } 
@font-face { font-family: Eina; font-weight: bold; src: url('Eina01-Bold.ttf');}
@font-face { font-family: Urban; src: url('urbanrebel.ttf'); } 
@font-face { font-family: Urban; font-weight: bold; src: url('urbanrebel.ttf');}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/* GLOBAL STYLES */

:root {
  --font-primary: 'Eina', sans-serif;
  --font-secondary: 'Roboto', sans-serif;
  --font-urban: 'Urban', sans-serif;
  --bg-color: #ffffff;
  --font-color: #000;
  --header-color: #c30000;
  --btn-bg-color: #c30000;
  --banner-color: rgb(163, 206, 255);
  --banner-color2: rgb(218, 60, 21);
  --roadmap-color: #000;
  --header-shadow: #c30000 0px 0px 200px;
  --banner-shadow: #fea21a 0px 0px 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-flow: column;
  height: 100vh;
  color: var(--font-color);
}

.gif{
  display:inline-block; 
  align-self: center;
}

#gif {
  width: 500px;
  height: 500px;
  background: url("file:///Users/tommaso/nft-landing-page/images/x-icon/labelgif.gif") 0 0;
}

#headlogo{
  width: 40px;
  height: 50px;
}

#botlogo{
  width: 150px;
  height: 150px;
}

#top {
  width: 100%;
  height: 100%;
}

#join {
  width: 100%;
  height: 100%;
}

#profile {
  width: 100%;
  height: 200px;
}

#movingmini
{
  width: 400px;
  height: 80px;
}

#movingtext
{
  width: 400px;
  height: 80px;
}

.container2 {
  display: flex;
  flex-direction: column;
}

.contact{
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  align-items: center;
}

.contact_btn:hover{
  transform: scale(1.3);
}

/* HEADER */

header {
  width: auto;
  background-color: var(--header-color);
  box-shadow: var(--header-shadow);
}

header .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header .container p{
  font-style: italic;
  font-family: var(--font-urban);
  font-size: 3rem;
  color: #ffffff;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;

}

.botmenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.joinbutton{
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 0;
  background-color:#c30000;
}

.joinbutton h1{
  z-index: -1;
}

.banner {
  display: flex;
  flex-direction: row;
  gap: 100%;
}

.A {
  font-family: var(--font-primary);
  font-weight: bolder;
  font-style: italic;
  font-size: 2.0rem;
  position: absolute;
  top: 85%;
  left: -350px;
  animation: move 15s linear 2s infinite;
  width: 400px;
  text-align: center;
  z-index: -2;
}


@keyframes move{
  from {left: -350px;}
  to {left: 77%;}
}


.below {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: var(--btn-bg-color);
  box-shadow: var(--header-shadow);
}


.about{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about p{
  width: 90%;
  font-family: var(--font-secondary);
  color: var(--bg-color);
  font-size: 1.5rem;
  text-align: center;
  font-weight: lighter;
}

.T{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.T h2{
  margin-top: -30px;
}

.profiles{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}

.profiles h2{
  width: 90%;
  font-family: var(--font-secondary);
  color: var(--font-color);
  font-size: 1.0rem;
  text-align: center;
}

.profiles p{
  font-family: var(--font-secondary);
  color: var(--font-color);
  font-size: 0.9rem;
  text-align: center;
  font-weight: lighter;
}



/* BUTTONS */

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--btn-bg-color);
  color: var(--font-color);
  font-family: var(--font-primary);
  font-weight: bold;
  font-size: 1rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 0 0 var(--accent-color);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
}
.btn:hover {
  box-shadow: none;
  transform: scale(1.3);
}

.lazyboys{
  transition: all 0.3s ease;
}

.lazyboys:hover {
  transform: scale(1.3);
}

.joinbtn{
  transition: all 0.3s ease;
}

.joinbtn:hover {
  transform: scale(1.3);
}

.wallet-btn {
  border-radius: 4px;
  margin-left: 2rem;
  border-color: transparent;
}

.hero-btn {
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 1.5rem 3rem;
}


/* CONTACT */

.contact{
  background-color: #000;
}

.contact h1 {
  color: var(--btn-bg-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  margin: 2rem 0;
  font-size: 3.5rem;
  text-align: center;
}




/* COUNTDOWN SECTION */

section {
  flex: 1 1 auto;
}

/* OWNER STYLES */

.owner-status {
  font-size: 2rem;
  text-align: center;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .menu {
    gap: 1rem;
  }
  .wallet-btn {
    margin-left: 0;
    padding: 1rem;
    max-width: 8rem;
  }
  .countdown h1 {
    font-size: 2rem;
  }
  .countdown p {
    font-size: 1rem;
  }
}
 
