/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');

/* GLOBAL STYLES */

:root {
  --font-primary: 'Anton', sans-serif;
  --font-secondary: 'Anton', sans-serif;
  --font-code: 'Anton', sans-serif;
  --bg-color: #ffffff;
  --header-color: #c941ff;
  --font-color: #ffc400;
  --btn-bg-color: #ffc400;
  --accent-color: #c941ff;
  --roadmap-color: #7eabff;
  --header-shadow: #000 0px 0px 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-flow: column;
  height: 100vh;
  color: var(--font-color);
  font-family: var(--font-primary);
}

.gif{
  display:inline-block; 
  align-self: center;
  margin-bottom: -120px;
}

#gif {
  width: 500px;
  height: 500px;
  background: url("file:///Users/tommaso/Downloads/fuegogif.gif") 0 0;
}


#headgif {
  width: 400px;
  height: 400px;
  background: url("file:///Users/tommaso/Downloads/headgif.gif") 0 0;
}

#bodygif {
  width: 400px;
  height: 400px;
  background: url("file:///Users/tommaso/Downloads/bodygif.gif") 0 0;
}

#leggif {
  width: 400px;
  height: 400px;
  background: url("file:///Users/tommaso/Downloads/leggif.gif") 0 0;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem 2rem;
}


.roadmap {
  background-color: var(--roadmap-color);
  width: 700px;
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem 2rem;
}

.about {
  background-color: var(--roadmap-color);
  width: 700px;
  display: flex;
  padding-bottom: 250px;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem 1rem;
}

.contact{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem 2rem;
  align-items: center;
}

/* HEADER */

header {
  background-color: var(--header-color);
  box-shadow: var(--header-shadow);
}

header .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}

/* ROADMAP */

.roadmap h1 {
  color: var(--accent-color);
  text-shadow: 2px 2px 0 var(--btn-bg-color);
  font-style: italic;
  margin: 2rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.roadmap p{
  font-size: 2rem;
  color: var(--bg-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-family: var(--font-primary);
  margin-bottom: 2rem;
  text-align: center;
}

.phase1{
  width: 600px;
  height: 300px;
  position: relative;
  left: 300px;
  padding: 1rem 2rem;
  background: var(--btn-bg-color);
  transition: all 0.3s ease;
  box-shadow: 4px 4px 0 0 var(--accent-color);
  border-radius: 4px;
}

.phase1:hover {
  box-shadow: none;
}

.phase1 img {
  position: absolute;
  right:700px;
  bottom: -100px;
}

.phase1 h2 {
  position: relative;
  color: var(--bg-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-style: italic;
  margin: 0.5rem 0;
  font-size: 3.5rem;
  text-align: center;
  border-radius: 4px;
  padding: 1.5rem 3rem;
}

.phase2{
  display: inline-block;
  width: 600px;
  height: 300px;
  position: relative;
  margin-top: 20px;
  right: 300px;
  padding: 1rem 2rem;
  background: var(--btn-bg-color);
  transition: all 0.3s ease;
  box-shadow: 4px 4px 0 0 var(--accent-color);
  border-radius: 4px;
}

.phase2 p{
  font-size: 2rem;
  color: var(--bg-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-family: var(--font-primary);
  margin-bottom: 2rem;
  text-align: center;
}

.phase2:hover {
  box-shadow: none;
}

.phase2 img {
  position: absolute;
  left:700px;
  bottom: -65px;
}

.phase2 h3 {
  color: var(--bg-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-style: italic;
  margin: 0.5rem 0;
  font-size: 3.5rem;
  text-align: center;
  border-radius: 4px;
  padding: 1.5rem 3rem;
}

.phase3{
  width: 600px;
  height: 300px;
  position: relative;
  margin-top: 20px;
  left: 300px;
  padding: 1rem 2rem;
  background: var(--btn-bg-color);
  transition: all 0.3s ease;
  box-shadow: 4px 4px 0 0 var(--accent-color);
  border-radius: 4px;
}

.phase3:hover {
  box-shadow: none;
}

.phase3 img {
  position: absolute;
  right:700px;
  bottom: -65px;
}

.phase3 h4 {
  position: relative;
  top: 18px;
  left: 10px;
  color: var(--bg-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-style: italic;
  margin: 0.5rem 0;
  font-size: 3.5rem;
  text-align: center;
  border-radius: 4px;
  padding: 1.5rem 3rem;
}

/* ABOUT */

.about h1 {
  color: var(--accent-color);
  text-shadow: 2px 2px 0 var(--btn-bg-color);
  font-style: italic;
  margin: 2rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.about p {
  font-size: 2rem;
  color: var(--bg-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-family: var(--font-primary);
  text-align: center;
}

/* BUTTONS */

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--btn-bg-color);
  color: var(--accent-color);
  font-family: var(--font-secondary);
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 0 0 var(--accent-color);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
}
.btn:hover {
  box-shadow: none;
}

.wallet-btn {
  border-radius: 5rem;
  margin-left: 2rem;
  border-color: transparent;
}

.hero-btn {
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 1.5rem 3rem;
}

.about p {
  font-size: 2rem;
  color: var(--bg-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-family: var(--font-primary);
  margin-bottom: 2rem;
  text-align: center;
}

/* CONTACT */

.contact h1 {
  color: var(--btn-bg-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-style: italic;
  margin: 2rem 0;
  font-size: 3.5rem;
  text-align: center;
}


/* COUNTDOWN SECTION */

section {
  flex: 1 1 auto;
}

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.countdown ul {
  display: flex;
  gap: 2rem
}
.countdown .clock-item {
  list-style: none;
  width: 70px;
  height: auto;
}
.countdown .clock-item .count-number {
  background: var(--accent-color);
  color: var(--font-color);
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--font-secondary);
  padding: 1rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 4px 4px 0 0;
}
.countdown .clock-item .count-text {
  background: var(--btn-bg-color);
  font-family: var(--font-secondary);
  font-size: 1.1rem;
  color: var(--bg-color);
  padding: 0.5rem 0.7rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 0 0 4px 4px;
}

.countdown h1 {
  text-shadow: 2px 2px 0 var(--accent-color);
  font-style: italic;
  margin: 2rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.countdown p {
  font-size: 1.1rem;
  font-family: var(--font-secondary);
  margin-bottom: 2rem;
  text-align: center;
}

/* OWNER STYLES */

.owner-status {
  font-size: 2rem;
  text-align: center;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .menu {
    gap: 1rem;
  }
  .wallet-btn {
    margin-left: 0;
    padding: 1rem;
    max-width: 8rem;
  }
  .countdown h1 {
    font-size: 2rem;
  }
  .countdown p {
    font-size: 1rem;
  }
}
 
